= form_for @application_user do |f|
  .form-horizontal
    .form-group
      = f.label :name, t('.name'), class: 'col-sm-1 control-label'
      .col-sm-3
        = f.text_field :name, class: 'form-control'
        = f.error :name, class: 'form-control'

    .form-group
      = f.label :login, t('.login'), class: 'col-sm-1 control-label'
      .col-sm-3
        = f.text_field :login, class: 'form-control'
        = f.error :login, class: 'form-control'

    .form-group
      = f.label :password, t('.password'), class: 'col-sm-1 control-label'
      .col-sm-3
        = f.password_field :password, class: 'form-control', value: f.object.password
        = f.error :password, class: 'form-control'

    .form-group
      .col-sm-offset-1.col-sm-3
        = f.button type: :submit, name: nil, class: 'btn btn-primary' do
          .glyphicon.glyphicon-save
          = t('.actions.submit')
