= form_for(resource, as: resource_name, url: company_owner_profile_path, html: { method: :patch }) do |f|
  .col-sm-offset-1.col-sm-4.text-center
    %table#profile_info.table
      %tbody
        %tr.info
          %td.strong{ colspan: 2 }
            .glyphicon.glyphicon-tag
            = t('.account.thead')
        %tr
          %td.strong= t('.account.email')
          %td= f.object.email
        %tr
          %td.strong= t('.account.created_at')
          %td= datetime f.object.created_at
        %tr.info
          %td.strong{ colspan: 2 }
            .glyphicon.glyphicon-briefcase
            = t('.company.thead')
        %tr
          %td.strong= t('.company.name')
          %td= f.object.company.name
        %tr
          %td.strong= t('.company.created_at')
          %td= datetime f.object.company.created_at

  .col-sm-offset-2.col-sm-3.text-center
    .form-horizontal
      .form-group
        %h3{ class: 'label-control' }= t('.change_password')

      .form-group.text-danger
        = devise_error_messages!

      .form-group
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('.placeholder.new_password')

      .form-group
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: t('.placeholder.password_confirmation')

      %br/

      .form-group
        = f.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: t('.placeholder.current_password')

      .form-group
        = f.button type: :submit, name: nil, class: 'btn btn-primary' do
          .glyphicon.glyphicon-save
          = t('.actions.submit')
