= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
  .col-sm-offset-4.col-sm-4.text-center
    .form-horizontal
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.hidden_field :invitation_token, readonly: true

          %h3{ class: 'label-control' }= t('devise.invitations.edit.header')

      .form-group.text-danger
        .col-sm-offset-3.col-sm-9
          = devise_error_messages!

      .form-group
        .col-sm-offset-3.col-sm-9
          = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('.placeholder.password')

      .form-group
        .col-sm-offset-3.col-sm-9
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: t('.placeholder.password_confirmation')

      .form-group
        .col-sm-offset-3.col-sm-9
          = f.button type: :submit, name: nil, class: 'btn btn-primary' do
            .glyphicon.glyphicon-share-alt
            = t('devise.invitations.edit.submit_button')
