= form_for @filter, url: activities_application_users_path, method: :get do |f|
  .form-horizontal
    .filter
      .col-sm-12
        %li
          .form-group
            = f.label :application_user_id, t('.application_user'), class: 'col-sm-2 control-label'
            .col-sm-3
              = f.autocomplete :application_user_id, search_application_users_path, [:name], class: 'form-control'

            = f.label :order_id, t('.order'), class: 'col-sm-1 control-label'
            .col-sm-3
              = f.autocomplete :order_id, search_orders_path, [:description], class: 'form-control'

          .form-group
            = f.label :operation_id, t('.operation'), class: 'col-sm-2 control-label'
            .col-sm-7
              = f.autocomplete :operation_id, search_order_operations_path(order_id: '{value}'), [:key, :description], class: 'form-control'

          .form-group
            = f.label :date_from, t('.date_from'), class: 'col-sm-2 control-label'
            .col-sm-3
              = f.text_field :date_from, class: 'datepicker form-control'
              = f.error :date_from

            = f.label :date_to, t('.date_to'), class: 'col-sm-1 control-label'
            .col-sm-3
              = f.text_field :date_to, class: 'datepicker form-control'
              = f.error :date_to

        %li
          .navbar-right.actions.margin-bottom
            = link_to activities_application_users_path, class: 'btn btn-default' do
              .glyphicon.glyphicon-remove
              = t('.actions.reset')

            = f.button type: :submit, name: nil, class: 'btn btn-default' do
              .glyphicon.glyphicon-search
              = t('.actions.submit')

:javascript
  new DependentAutocompleteInput('#application_users_activities_filter_order_id', '#application_users_activities_filter_operation_id').run();
